<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
              <li><a href="/work">Work</a></li>
              <li><a href="/projects">Projects</a></li>
							<li><a href="/zettelkasten">Notes</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
      <div id="root"></div>
      <script type="text/javascript" src="/assets/js/bundle.js" charset="utf-8"></script>
      <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
			<footer>
	    	<ul>
      		<li><a href="mailto:dennismuensterer@gmail.com">email</a></li>
      		<li><a href="https://github.com/dnnsmnstrr">github</a></li>
          <li><a href="/imprint">imprint</a></li>
          <li><a href="https://dnnsmnstrr.onuniverse.com">dennis.muensterer</a></li>
          <li>
            <a href="https://twitter.com/dnnsmnstrr?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @dnnsmnstrr</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>
				</ul>
			</footer>
		</body>
	</html>
