---
layout: default
title: Dennis Muensterer
---
<div class="blurb">
	<h1>Hi there, I'm Dennis!</h1>
  <p>I like making stuff</p>
	<p><a href="/about">Find out more about me...</a></p>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <p>or check out some of the Stuff I Made™ - try the command bar: </p><div id="root"></div>
  </div>
  <script src="https://gist.github.com/dnnsmnstrr/c9aa3e56d323d3ea7b061376e38eaee8.js"></script>
  <style>
    /* hide github footer */
    .gist .gist-meta {
      display: none;
    }
  </style>
  <p><a href="https://github.com/dnnsmnstrr/dotfiles/tree/master/bettertouchtool/HydroTouch">HydroTouch</a> - a preset for BetterTouchTool, based on <a href="https://community.folivora.ai/t/aquatouch-supports-40-apps-and-websites-and-the-native-touchbar/1704">AquaTouch</a></p>
  <p><a href="https://dnnsmnstrr.github.io/zettelkasten/">Zettelkasten</a> - my notes / knowledge collection, uses <a href="https://neuron.zettel.page/">Neuron</a></p>
  <link href="https://github.com/dnnsmnstrr" rel="me">
</div><!-- /.blurb -->
