---
layout: default
title: Work - Dennis Muensterer
---
<div class="blurb">
  <h1>My Work</h1>
  <div class="badge-base LI-profile-badge" data-locale="de_DE" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="dennismuensterer" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/dennismuensterer?trk=profile-badge">LinkedIn</a></div>
  <p>I currently work at <a href="https://web.hpm.agency/">hpm.</a> </p>
  <p>
    We are working on an app called <a href="https://tesora.app/">TESORA</a>
  </p>
</div><!-- /.blurb -->
